<aside class="wrapper" [style]="{backgroundColor: (isColorPicking) ? 'hsl(var(--muted) / 0.6)' : 'transparent'}">
  <ng-container *ngIf="isColorPicking">
    <app-button icon="heroXMark" class="close" ariaLabel="Close color picking mode"
      (onClick)="toggleColorPicking()"></app-button>
    <input type="range" class="picker" aria-label="Color theme slider" min="0" max="360" step="10" value="{{ themeHue }}"
      (input)="handleColorPicking($event)">
  </ng-container>
  <div class="btns" *ngIf="!isColorPicking">
    <app-button icon="{{ theme === 'light' ? 'heroMoon' : 'heroSun' }}" role="switch" ariaLabel="Change theme to {{ theme === 'light' ? 'dark' : 'light' }} mode" (onClick)="toggleTheme()">
    </app-button>
    <app-button icon="heroSwatch" ariaLabel="Enable color picking mode" (onClick)="toggleColorPicking()">
    </app-button>
  </div>
</aside>
